<div class="list-group-item list-group-item-action" aria-current="true" id="<%= dom_id restaurant %>">
  <div class="d-flex justify-content-between align-items-center">
    <h3>
      <%= restaurant.name %>
    </h3>

    <p>
      <strong>Category:</strong>
      <%= restaurant.category %>
    </p>
  </div>
  <div class="d-flex justify-content-between align-items-center">
    <p>
      <strong>Address:</strong>
      <%= restaurant.address %>
    </p>

    <p>
      <strong>Phone number:</strong>
      <%= restaurant.phone_number %>
    </p>
  </div>
</div>
